.active {
    font-weight: bold;
}

.notActive {
    font-weight: normal;
}

.checked {
    color: green;
    font-weight: bold;
}

/* .notChecked {
    color: red;
    font-weight: bold;
}*/

#timer-container{
    display:inline-grid;
    justify-content:center;
    align-content:center;
}

#words-container{
    height: 20vh;
    overflow: hidden;
}

.word{
    padding: 5px;
    display: inline-block;
    margin-top: 1px;
}
